<style>
.a2 {
  background-color: #eb0000;
  color: white; 
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  border-radius: 2px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] { 
  width: 100%;
  padding: 6px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-size: 14px;
}
</style>


<div class="w3-bar a2">

<a href="{% url 'home' %}" class="w3-bar-item w3-center w3-padding" style="width: 15%; height: 100%;">Brand</a>

<a class="topnav w3-bar-item w3-hide-small w3-hide-medium w3-border w3-center" style="width: 45%; padding: 0; margin-left: 15px; margin-right: 15px; margin-top: 3px; margin-bottom: 5px">
 <form method="GET" action='{% url "search" %}'>
    <input class="abc" type="text" style="padding-left: 10px;" placeholder="Search" name='q' aria-label="Search" value='{{ request.GET.q }}'>
</form>


</div>

