
<div class="scrollmenu">
 <div class="w3-row-padding w3-padding-16 w3-center">
    
    <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.aimage }} +</label></div></a>
   <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.bimage }} +</label></div></a>
     <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.cimage }} +</label></div></a>
     <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.dimage }} +</label></div></a>
     <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.eimage }} +</label></div></a>
     <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.fimage }} +</label></div></a>
     <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.gimage }} +</label></div></a>
     <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.himage }} +</label></div></a>
     <a class="asd"><div class="w3-col l3 m4 s4 w3-card w3-round" style="height: 150px;width: 120px;"><label style="font-size: 60px;color: #333333"> {{ form.iimage }} +</label></div></a>


</div>
</div>

<style>

input[type=file] {display: none;}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu .asd {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu .asd:hover {

}
</style>