{% extends 'base.html' %}

{% block base %}
<style>
.button {
  border: none;
  color: white;
  background-color: blue;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
</style>

<div class="w3-container">
<h3>We have sent you a mail at this email.</h3>
      <button class='button w3-round w3-padding w3-margin-bottom' style="width: 100%">Back To Login </button>
</div>
{% endblock %}